body {
  margin: 0;
  font-family: "Cedarville Cursive", cursive, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #41b3a3;
  font-family: "Cedarville Cursive", cursive !important;
  background-image: url("./bg.jpg");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
}

/* form,
input,
label,
p {
  color: white !important;
} */

.dropdown-menu[data-bs-popper] {
  left: -100px !important;
}